html {
    box-sizing: border-box;
}

/************General Styling************/
body {
    overflow-x: hidden;
}

.main_container {
    margin: 0 auto;
    max-width: 92%;
}

/************Top Navigation************/
.navbar {
    justify-content: flex-end !important;
}

.logo {
    max-height: 80px;
    max-width: 740px;
    margin: 40px;
}

.header {
    background-color: $white;
}

.register,
.logout {
    background-color: $body-bg;
}

.top-nav {
    margin-right: 50px;
}

.top-nav a {
    margin-top: 20px;
    color: black !important;
    font-size: 1.5em;
    padding: 10px 20px !important;
}

#errors {
    color: red;
    font-size: 1.4em;
}

/**Buttons **/

.compare-button {
    background-color: $purple;
    color: white !important;
}

.add-app-button {
    background-color: $navy;
    color: white !important;
}

.back-btn {
    background-color: white;
    max-height: 70px;
    max-width: 140px;
    font-size: 25px;
}

.save-btn {
    background-color: $blue;
    color: white;
    font-size: 1.3em;
    margin: 20px 80px;
}

/**************Custom Check Boxes****************/
.btn-group-toggle>label {
    background-color: $purple;
    color: white;
    font-size: 1.2em;
    font-weight: 400;
    text-align: left;
    display: block;
    max-width: 200px;
    margin-bottom: 10px !important;
    cursor: pointer;
}

.btn-group-toggle>.select {
    background-color: white;
    max-width: 5px;
    border: solid 1px black;
    padding: 7px;
}

.compare-check>.active {
    background-color: $purple;
    border: solid 1px $purple;
}


.job-city-check>.active,
.job-title-check>.active {
    background-color: $navy;
    color: white !important;
}

.compare-button:hover,
.add-app-button:hover,
.job-city-check>label:hover,
.job-title-check>label:hover {
    color: $blue !important;
}


.favourite,
.select-compare {
    text-align: center;
    cursor: pointer;
}

.fave {
    color: $blue;
}

.select-compare {
    border-radius: 25px;
}

/************Application Table************/
#app-search,
#app-listings,
#page-heading {
    background-color: $white;
}

#app-listings {
    padding-bottom: 50px;
}

.toggle-filter {
    cursor: pointer;
}

.toggle-filter>p {
    text-align: center;
}

#app-search {
    border-right: 10px solid $body-bg !important;
}

#app-search-form {
    display: none;
}

.pagination>.fas,
#current-page-number,
#total-page-number {
    font-size: 1.1em;
    margin-left: 5px;
    margin-right: 5px;
}

.table-hover tbody tr:hover {
    background-color: $light-purple;
}

.pagination>.fas {
    margin-top: 4px;
}

.job-title-icon {
    font-size: 2em;
}

/************************Application Compare***********************/

#compare-form {
    background-color: white;
}

#compare-header-block {
    padding-top: 1em;
}

.compare-icon,
.compare-title {
    display: inline-block;
    margin-bottom: 0;
}

.compare-title,
.compare-icon {
    font-size: 1.8em;
    color: $purple;
}

.compare-slogan {
    margin-left: 3.1em;
    font-size: 1.5em;
    color: black;
}

.compare-icon {
    margin-left: 1em;
    margin-right: 0.5em;
}

.selected-option {
    background-color: $light-blue;
}

.compare-option>input[type="radio"] {
    margin-right: 10px;
}


/*********** Compare Form ********************/
.title-bar {
    color: $purple;
    font-weight: bold;
    font-size: 1em;
    margin-right: 10px;
}

.compare-row {
    font-size: 20px;
    width: 120%;
}

.choice {
    background-color: $light-purple;
}

.compare-row:last-child {
    padding-bottom: 2em;
}

.compare-option {
    padding: 10px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    justify-content: flex-start !important;
}

.compare-option>input:checked {
    background-color: $light-purple;
}

.score-container {
    padding-top: 10px;
    background-color: $purple;
    color: white;
    font-size: 2em;
}

.highest {
    background-color: $blue;
}
