/* landing page */
.landing_page_bg svg{
    width:130%;
    position: absolute;
    z-index: -9;
    top:60px;
    left:-300px;
}
.landing_sides_bg svg{
    width:85%;
    position: absolute;
}
.text-block{
    width: 45%;
    max-height:40%;
    background-color: $white;
    padding:30px;
    position: absolute;
    top:80%;
    left:25%;
}
.text-block p{
    font-size: 1.3em;
}
.text-block img{
    width:20%;
    margin:0.5% 6%;
}
.landing_page_btn {
    width: 150px;
    height: 150px;
    background: $purple;
    border: 3px solid $greyoutline;
    border-radius: 50%;
    position: absolute;
    top:105%;
    left:65%;
    z-index: 2;
}
.landing_page_btn a{
    color: $white;
    z-index: 3;
    position: absolute;
    left:27%;
    top:27%;
    font-size: 1.5em;
    padding:0;
    &:hover{
        text-decoration: none;
        color:$navy;
    }
}

/* Login page */
.log_logo{
    width:25%;
    margin-left:37.5%;
}
.reg_logo{
    width:40%;
    margin-left:33%;
}