/* landing page */
.landing_page_bg svg{
    width:130%;
    position: absolute;
    z-index: -9;
    top:60px;
    left:-300px;
}
.landing_sides_bg svg{
    width:75%;
    position: absolute;
    top:24%;
    margin-left:5%;
}
.text-block{
    width: 40%;
    max-height:40%;
    background-color: $white;
    padding:30px;
    position: absolute;
    top:50%;
    left:30%;
}
.text-block img{
    width:20%;
    margin:0.5% 6%;
}
.landing_page_btn {
    width: 150px;
    height: 150px;
    background: $purple;
    border: 3px solid $greyoutline;
    border-radius: 50%;
    position: absolute;
    top:70%;
    left:65%;
    z-index: 2;
}
.landing_page_btn a{
    color: $white;
    z-index: 3;
    position: absolute;
    left:23%;
    top:35%;
    font-size: 1.5em;
    padding:0;
    &:hover{
        text-decoration: none;
        color:$navy;
    }
}

/* Login page */
.log_logo{
    width:25%;
    margin-left:37.5%;
}
.reg_logo{
    width:40%;
    margin-left:33%;
}
.log_txt {
    margin-left:25%;
}
.log_txt a, .reg_txt a{
    color:$purple;
    &:hover{
        color:$blue;
        text-decoration: none;
    }
}
.reg_txt{
    margin-left:33%;
}

/* detail page */
.detail_container{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10%;
}
.left_col{
    order:1;
    width: 10%;
    padding:5px 0;
}
.right_col{
    order:1;
    width: 86%;
    background-color: $white;
    padding:2% 2% 2% 5%;
    margin-top:5px;
}
.left_col a{
    color:$navy;
    &:hover{
        color:$blue;
        text-decoration: none;
    }
}
.left_col i{
    display: inline;
    margin-right:10px;
}
.icon_bar button{
    float:right;
}

.detail_table{
    width:90%;
    margin-top:5%;
    color:$navy;
    margin-bottom:5%;
}
.detail_table a{
    color:$purple;
}
.seperate_line{
    border-right: 1px solid $purple;
}
.icon_bar button {
    background-color: $navy;
    border: none;
    color: white;
    padding: 6px 16px;
    text-decoration: none;
    border-radius: 5px;
    margin:5px;
    font-size:1.2em;
    &:hover{
        background-color:$blue;
    }
}