// Body
$body-bg: #f5f5f5;

// Typography
$font-family-sans-serif: 'Teko',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Primary Colors
$purple: #8A3B8E;
$light-purple: rgba(137, 62, 139, 0.2);
$blue: #00D2E5;

//Secondary
$navy: #0C1B33;
$grey: #B2AA8E;
$ivory: #F7FFE5;
$white: #fff;
$greyoutline: #D8D8D8;

// landing page
$company_logos_width: 5%;