// Fonts
@import url('https://fonts.googleapis.com/css?family=Teko:300,400,600&display=swap');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Custom Stylesheet
@import 'custom';
@import 'jen';
@import 'azeb';
